<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>LHO</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Hind:300|Lora:400,700|Roboto+Condensed:300" rel="stylesheet">
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">

	<!--CARROUSEL
 -->
	<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
	<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
	<script src="jquery.min.js"></script>
	<script src="owlcarousel/owl.carousel.min.js">
		$(document).ready(function () {
			$(".owl-carousel").owlCarousel();
		});
	</script>
</head>

<body>
	<div id="top"></div>
	<!-- Start Header Area -->
	<header class="default-header">
		<div class="sticky-header">
			<div class="container">
				<div class="header-content d-flex justify-content-between align-items-center">
					<div class="logo">
						<a href="#top" class="smooth">
							<img src="img/logo.png" alt="">
						</a>
					</div>
					<div class="right-bar d-flex align-items-center">
						<nav class="d-flex align-items-center">
							<ul class="main-menu">
								<li>
									<a href="#top">Inicio</a>
								</li>
								<li>
									<a href="#about">Firma</a>
								</li>
								<li>
									<a href="#services">Áreas de Práctica</a>
								</li>
								<li>
									<a href="#career">Carrera</a>
								</li>
								<li>
									<a href="#blog">Prensa</a>
								</li>
								<li>
									<a href="#contact">Contacto</a>
								</li>
							</ul>
							<a href="#" class="mobile-btn">
								<span class="lnr lnr-menu"></span>
							</a>
						</nav>
						<div class="search relative">
							<span class="lnr lnr-magnifier"></span>
							<form action="#" class="search-field">
								<input type="text" placeholder="Buscar en sitio" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Buscar en sitio'">
								<button class="search-submit">
									<span class="lnr lnr-magnifier"></span>
								</button>
							</form>
						</div>
						<div class="header-social d-flex align-items-center">
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fa fa-youtube-play"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End Header Area -->
	<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen justify-content-center align-items-center">
				<div class="col-lg-8">
					<div class="banner-content text-center">
						<p class="text-uppercase text-white">LHO</p>
						<h1 class="text-white">Una firma de abogados
							<br>en un contexto Global</h1>
						<a href="#services" class="primary-btn banner-btn">Áreas de Práctica</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<!-- Start Digital Studio -->
	<section id="about">
		<section class="section-full gray-bg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="section-title text-center">
							<h3>
								LHO es una Firma de Abogados que surge en un
								<b>contexto global</b> para proponer soluciones
								<b>precisas e innovadoras</b> a las necesidades más complejas de sus clientes.
							</h3>
						</div>
					</div>
				</div>
		</section>
		<section class="section-full studio-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="studio-content">
							<p class="text-uppercase text-gray">I N T R O</p>
							<h2 class="h1 text-gray mb-20">Una Firma de
								<br> Excelencia y Precisión</h2>
							<p class="text-gray mb-30">LHO se constituye no solo en el asesor legal con excelencia jurídica sino en el socio de negocios que acompaña a sus
								clientes en el desarrollo de sus proyectos como si fuesen propios.
								<br>
								<br> Cimentado en el legado de grandes juristas mexicanos que sentaron precedentes históricos en el país, LHO evoluciona
								día a día junto a sus clientes brindándoles alternativas de vanguardia internacional.</p>

							<a href="#blog" class="primary-btn d-inline-flex align-items-center">Conoce más de nosotros</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- End Digital Studio -->

		<!-- MODALS -->


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">
								Acompañamiento Internacional
							</h5> 
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
						<figure class="signle-service">
						<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure><br>
							LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea mediante presencia directa o indirecta.
						</div>
						<div class="modal-footer">
							<button type="button" class="primary-btn d-inline-flex align-items-center">
								<a href="#contact">Contacto</a>
							</button> 
							<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
								Cerrar
							</button>
						</div>
					</div>
				</div>	
			</div>	




		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Fusiones y Adquisiciones
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Laboral
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Fiscal
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Penal
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Energía e Infraestructura
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Inmobiliario
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Litigio y arbitraje
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-container-94862" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							Gobierno, Corporativo y Normativo
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<figure class="signle-service">
							<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
						</figure>
						<br> LHO, consciente de la importancia que tiene para las empresas el ir de la mano de un asesor legal en sus operaciones
						a lo largo y ancho del mundo ha generado un programa de acompañamiento internacional en el cual de conformidad con
						la normativa local de cada país y en estricto apego a la legalidad genera el apoyo local necesario al Cliente ya sea
						mediante presencia directa o indirecta.
					</div>
					<div class="modal-footer">
						<button type="button" class="primary-btn d-inline-flex align-items-center">
							Contacto
						</button>
						<button type="button" class="primary-btn d-inline-flex align-items-center" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<!-- END MODALS -->


		<!-- Start About Area -->




		<section id="services">
			<section class="section-full gray-bg">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-10">
							<div class="section-title text-center">
								<p class="text-uppercase">Áreas de Práctica</p>
								<h3>En
									<b>LHO</b>, estamos conscientes de la necesidad que tienen los clientes de soluciones integrales y por tal razón atendemos
									las diversas especialidades jurídicas que tocan la vida de una empresa. Enfocando nuestra práctica en las siguientes
									áreas:
								</h3>
							</div>
						</div>
					</div>
					<div class="container-fluid">
						<div class="row ten-columns">


							<div class="col-md-2">
								<figure class="signle-service">
									<img src="img/acompañamiento-internacional.jpg" class="img-fluid" alt="">
									<figcaption class="text-center">
										<h5 class="text-uppercase">Acompañamiento Internacional</h5>
										<a href="#modal-container-94862" data-toggle="modal" class="primary-btn d-inline-flex align-items-center">Explorar</a>
									</figcaption>
								</figure>
							</div>

							<div class="col-md-2">
								<figure class="signle-service">
									<img src="img/Fusiones-Adquisiciones.jpg" class="img-fluid" alt="">
									<figcaption class="text-center">
										<h5 class="text-uppercase">Fusiones y adquisiciones</h5>

										<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
									</figcaption>
								</figure>
							</div>


							<div class="col-md-2">
								<figure class="signle-service">
									<img src="img/Laboral.jpg" class="img-fluid" alt="">
									<figcaption class="text-center">
										<h5 class="text-uppercase">Laboral
											<br>&nbsp</h5>

										<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
									</figcaption>
								</figure>
							</div>


							<div class="col-md-2">
								<figure class="signle-service">
									<img src="img/Fiscal.jpg" class="img-fluid" alt="">
									<figcaption class="text-center">
										<h5 class="text-uppercase">Fiscal
											<br>&nbsp</h5>

										<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
									</figcaption>
								</figure>
							</div>

							<div class="col-md-2">
								<figure class="signle-service">
									<img src="img/Penal.jpg" class="img-fluid" alt="">
									<figcaption class="text-center">
										<h5 class="text-uppercase">Penal
											<br>&nbsp</h5>

										<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
									</figcaption>
								</figure>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<figure class="signle-service">
								<img src="img/Energia-Infraestructura.jpg" class="img-fluid" alt="">
								<figcaption class="text-center">
									<h5 class="text-uppercase">Energía e infraestructura</h5>

									<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
								</figcaption>
							</figure>
						</div>


						<div class="col-md-3">
							<figure class="signle-service">
								<img src="img/Inmobiliario.jpg" class="img-fluid" alt="">
								<figcaption class="text-center">
									<h5 class="text-uppercase">Inmobiliario
										<br>&nbsp</h5>

									<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
								</figcaption>
							</figure>
						</div>


						<div class="col-md-3">
							<figure class="signle-service">
								<img src="img/Litigio.jpg" class="img-fluid" alt="">
								<figcaption class="text-center">
									<h5 class="text-uppercase">Litigio y Arbitraje
										<br>&nbsp</h5>

									<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
								</figcaption>
							</figure>
						</div>


						<div class="col-md-3">
							<figure class="signle-service">
								<img src="img/Gobierno-Corporativo.jpeg" class="img-fluid" alt="">
								<figcaption class="text-center">
									<h5 class="text-uppercase">Gobierno, Corporativo y Normativo</h5>

									<a href="#" class="primary-btn d-inline-flex align-items-center">Explorar</a>
								</figcaption>
							</figure>
						</div>



					</div>






				</div>
			</section>
			<!-- End About Area -->
			<!-- Start Product Area -->
			<section id="career">
				<section class="title-bg section-full career-area">
					<div class="container">
						<div class="row justify-content-center">
							<div class="container">
								<div class="row">
									<div class="col-lg-6"></div>
									<div class="col-lg-6">
										<div class="studio-content career-area:after">
											<div class="career-area-m">
												<p class="text-uppercase text-gray">¡A C É R C A T E!</p>
												<h2 class="h1 text-gray mb-20">Carrera
													<br> Profesional</h2>
												<p class="text-gray mb-30">LHO, es un Despacho de Abogados consciente de la importancia del equilibrio en la vida del ser humano y en tal
													medida reconoce en sus recursos humanos su más preciado activo, procurando se alcance la excelencia jurídica
													y la realización personal en cada uno de sus miembros.
													<br>
													<br> Si eres un apasionado del derecho y te emociona el alcanzar tu máximo potencial a la vez que contribuir a generar
													historia en el universo jurídico, LHO, tiene un lugar para ti. Envíanos tu C.V. y participa en un proceso de
													selección que podría cambiar tu vida.
												</p>

												<a href="#contact" class="primary-btn text-gray d-inline-flex align-items-center">Contáctanos ahora</a>
											</div>
										</div>
									</div>
								</div>
							</div>

				</section>

				<!-- End Product Area -->
				<!-- Start Progress Bar Area 
		<div class="container pt-150">
			<div class="row">
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateNone" data-progress="80">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">Web Design</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateText" data-progress="75">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">UI/UX Design</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateCircle" data-progress="60">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">Mobile App</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateAll" data-progress="90">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<!-- on défini le l'angle et le centre de rotation du cercle 
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">Web Development</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Progress Bar Area 
		<!-- Start shuffle Area -->



				<div id="filter-content">

				</div>

				<!-- End shuffle Area -->
				<!-- Start Team member Area 
		<section id="team" class="pb-150">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-uppercase">Creative People</p>
							<h2 class="h1">Team work builds trust and <br> trust builds growth</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/t1.jpg);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Ethel Davis</a></h5>
								<p>Managing Director (Sales)</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/t2.jpg);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Rodney Cooper</a></h5>
								<p>Creative Art Director</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/t3.jpg);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Dora Walker</a></h5>
								<p>Senior Core Developer</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/t4.jpg);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Lena Keller</a></h5>
								<p>Creative Content Developer</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Team member Area -->


				<!-- Start Pricing Area 
		<section class="section-full">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-uppercase">Creative People</p>
							<h2 class="h1">Team work builds trust and <br> trust builds growth</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="single-pricing-table">
							<div class="top">
								<div class="head text-center">
									<span class="lnr lnr-shirt"></span><br>
									<h5 class="text-white text-uppercase">Standard</h5>
								</div>
								<div class="package text-center">
									<div class="price">£199</div>
									<span class="text-white">Per month</span>
								</div>
							</div>

							<div class="bottom text-center">
								<ul class="feature text-center">
									<li>2.5 GB Photos</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
									<li>Manual Backup</li>
								</ul>
								<a href="#" class="primary-btn text-uppercase d-inline-flex align-items-center">Purchase<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-pricing-table">
							<div class="top">
								<div class="head text-center">
									<span class="lnr lnr-shirt"></span><br>
									<h5 class="text-white text-uppercase">Business</h5>
								</div>
								<div class="package text-center">
									<div class="price">£399</div>
									<span class="text-white">Per month</span>
								</div>
							</div>

							<div class="bottom text-center">
								<ul class="feature text-center">
									<li>2.5 GB Photos</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
									<li>Manual Backup</li>
								</ul>
								<a href="#" class="primary-btn text-uppercase d-inline-flex align-items-center">Purchase<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-pricing-table">
							<div class="top">
								<div class="head text-center">
									<span class="lnr lnr-apartment"></span>
									<h5 class="text-white text-uppercase">Ultimate</h5>
								</div>
								<div class="package text-center">
									<div class="price">£499</div>
									<span class="text-white">Per month</span>
								</div>
							</div>

							<div class="bottom text-center">
								<ul class="feature text-center">
									<li>2.5 GB Photos</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
									<li>Manual Backup</li>
								</ul>
								<a href="#" class="primary-btn text-uppercase d-inline-flex align-items-center">Purchase<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Pricing Area -->
				<!-- Start Testimonial Area 
		<section class="section-full gray-bg">
			<div class="container">
				<div class="active-testimonial-carousel">
					<div class="single-testimonial">
						<img src="img/ts1.png" class="img-circle" alt="">
						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory </p>
						<div class="author text-center">
							<h6 class="text-uppercase"><a href="#">Mark Alviro Wiens</a></h6>
							<span>CEO at Google</span>
						</div>
					</div>
					<div class="single-testimonial">
						<img src="img/ts2.png" class="img-circle" alt="">
						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory </p>
						<div class="author text-center">
							<h6 class="text-uppercase"><a href="#">Mark Alviro Wiens</a></h6>
							<span>CEO at Google</span>
						</div>
					</div>
					<div class="single-testimonial">
						<img src="img/ts3.png" class="img-circle" alt="">
						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory </p>
						<div class="author text-center">
							<h6 class="text-uppercase"><a href="#">Mark Alviro Wiens</a></h6>
							<span>CEO at Google</span>
						</div>
					</div>
					<div class="single-testimonial">
						<img src="img/ts3.png" class="img-circle" alt="">
						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory </p>
						<div class="author text-center">
							<h6 class="text-uppercase"><a href="#">Mark Alviro Wiens</a></h6>
							<span>CEO at Google</span>
						</div>
					</div>
					<div class="single-testimonial">
						<img src="img/ts3.png" class="img-circle" alt="">
						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory </p>
						<div class="author text-center">
							<h6 class="text-uppercase"><a href="#">Mark Alviro Wiens</a></h6>
							<span>CEO at Google</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Testimonial Area -->
				<!-- Start Publish Area -->
				<section id="blog" class="section-full">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-8">
								<div class="product-area-title text-center">
									<p class="text-uppercase">lo último</p>
									<h2 class="h1">Enterate de nuestras
										<br>noticias, prensa y más...</h2>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="owl-carousel">
								
								<% for(var i = 0; i < articulo.length; i++) { %>
									<div class="single-publish">

										<img src="<%=articulo[i].imagen %>" width="100%">
										<div class="top">

											<h6 class="text-uppercase">
												<%=articulo[i].titulo %>
											</h6>
											<div class="mb-15 d-flex">
												<a href="#">
													<%=articulo[i].fecha %>
												</a>
												<span class="line">|</span>
												<a href="#">LHO</a>
											</div>
												
										<p class="mb-30"><%=articulo[i].introduccion %></p>
										</div>
										<a href="/articulo/prensaa/<%= articulo[i].id %>" class="details-btn d-flex justify-content-center align-items-center">
											<span class="details">Detalles </span>
											<span class="lnr lnr-arrow-right"></span>
										</a>
									</div>
									<%}%>


							
						</div>
					</div>

				</section>
				<!-- End Publish Area -->
				<!-- Start Contact Area -->
				<section id="contact" class="section-full gray-bg">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-8">
								<div class="product-area-title text-center">
									<p class="text-uppercase">Contáctanos</p>
									<h2 class="h1">Nos gusta entrar en contacto
										<br> con nuevas personas.</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 mt-30">
								<p>En
									<b>LHO</b>, nos gusta entrar en contacto con nuevos proyectos, expertos en materia legal, interesados en colaborar
									y en general con cualquier persona que tenga algo que decirnos. Escríbenos por éste medio o llámanos y te contestaremos
									a la brevedad posible.
									<b>¡Gracias!</b>
								</p>
								<div class="row">
									<div class="col-sm-6">
										<div class="address mt-20">
											<h6 class="text-uppercase mb-15">Dirección</h6>
											<p>Bosque de Pirules,
												<br> 40, Colonia Bosques de la Lomas
												<br> Miguel Hidalgo, CDMX, 11700</p>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="address mt-20">
											<h6 class="text-uppercase mb-15">Contacto</h6>
											<a href="tel:0000">(55) 5596 0944</a>
											<br>
											<a href="tel:0000">(55) 5245 0945</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mt-30">
								<form id="myForm" action="mail.php" method="post" class="contact-form">
									<div class="single-input color-2 mb-10">
										<input type="text" name="fname" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'"
										 required>
									</div>
									<div class="single-input color-2 mb-10">
										<input type="email" name="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
										 onblur="this.placeholder = 'Email'" required>
									</div>
									<div class="single-input color-2 mb-10">
										<input type="text" name="subject" placeholder="Asunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Asunto'"
										 required>
									</div>

									<div class="single-input color-2 mb-10">
										<textarea name="message" placeholder="Escribe tu mensaje aquí" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Escribe tu mensaje aquí'"
										 required></textarea>
									</div>
									<div class="d-flex justify-content-end">
										<button class="mt-10 primary-btn d-inline-flex text-uppercase align-items-center">Enviar correo</button>
									</div>
									<div class="alert"></div>
								</form>
							</div>
						</div>
					</div>
				</section>
				<!-- End Contact Area -->
				<!-- Start Cta Area -->
				<section class="cta-area">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-8 d-flex no-flex-xs justify-content-between align-items-center">
								<h5 class="text-uppercase text-white">¿Aún no sabes qué hacemos?</h5>
								<a href="#services" class="primary-btn d-inline-flex text-uppercase text-white align-items-center">Ve nuestra cartera de servicios</a>
							</div>
						</div>
					</div>
				</section>
				<!-- End Cta Area -->
				<footer class="section-full">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="single-footer-widget">
									<h6 class="text-white text-uppercase mb-20">LHO</h6>
									<p>Cimentado en el legado de grandes juristas mexicanos que sentaron precedentes históricos en el país, LHO evoluciona
										día a día junto a sus clientes brindándoles alternativas de vanguardia internacional.</p>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-footer-widget">
									<h6 class="text-white text-uppercase mb-20">MAPA</h6>
									<div class="d-flex">
										<ul class="footer-nav">
											<li>
												<a href="#">Inicio</a>
											</li>
											<li>
												<a href="#about">Acerca</a>
											</li>
											<li>
												<a href="#services">Áreas de Práctica</a>
											</li>
											<li>
												<a href="#career">Carrera</a>
											</li>
										</ul>
										<ul class="ml-30 footer-nav">
											<li>
												<a href="#blog">Prensa</a>
											</li>
											<li>
												<a href="#contact">Contacto</a>
											</li>
											<li>
												<a href="/login">LHO/login</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-footer-widget">
									<h6 class="text-white text-uppercase mb-20">Suscríbete</h6>
									<p>Recibe noticias acerca de nuestra bolsa de trabajo, blog, prensa y mucho más.</p>
									<div id="mc_embed_signup">
										<form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
										 method="get" class="subscription relative d-flex justify-content-center">
											<input type="email" name="EMAIL" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
											 required>
											<div style="position: absolute; left: -5000px;">
												<input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
											</div>
											<button type="submit" class="newsletter-btn" name="subscribe">
												<span class="lnr lnr-location"></span>
											</button>
											<div class="info"></div>
										</form>
									</div>
								</div>
							</div>
							<!--
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h6 class="text-white text-uppercase mb-20">Instafeed</h6>
							<ul class="instafeed d-flex flex-wrap">
								<li><img src="img/i1.jpg" alt=""></li>
								<li><img src="img/i2.jpg" alt=""></li>
								<li><img src="img/i3.jpg" alt=""></li>
								<li><img src="img/i4.jpg" alt=""></li>
								<li><img src="img/i5.jpg" alt=""></li>
								<li><img src="img/i6.jpg" alt=""></li>
								<li><img src="img/i7.jpg" alt=""></li>
								<li><img src="img/i8.jpg" alt=""></li>
							</ul>
						</div>
					</div>
					-->

						</div>
						<div class="footer-bottom d-flex justify-content-between align-items-center">
							<p class="footer-text m-0">Copyright &copy; 2017 | Derechos reservados
								<a href="#">LHO</a>
							</p>
							<div class="footer-social d-flex align-items-center">
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="#">
									<i class="fa fa-youtube-play"></i>
								</a>
							</div>
						</div>
					</div>
				</footer>

				<script src="js/vendor/jquery-2.2.4.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
				 crossorigin="anonymous"></script>
				<script src="js/vendor/bootstrap.min.js"></script>
				<script src="js/jquery.ajaxchimp.min.js"></script>
				<script src="js/jquery.sticky.js"></script>
				<script src="js/owl.carousel.min.js"></script>
				<script src="js/mixitup.min.js"></script>
				<script src="js/main.js"></script>
				<script>
					$('.owl-carousel').owlCarousel({
						rtl: true,
						loop: true,
						margin: 10,
						nav: true,
						responsive: {
							0: {
								items: 1
							},
							600: {
								items: 3
							},
							1000: {
								items: 4
							}
						}
					})
				</script>
</body>

</html>